<div class="row">
  <div class="offset-sm-4 col-sm-4">
    <div class="card text-center">
      <div class="card-header p-0">
        <h3 class="card-title"><%= @user.name %></h3>
      </div>
      <div class="card-body">
        <img class="mr-2 rounded" src="<%= @user.image %>" alt="">
      </div>
    </div>
  </div>
  
  <div class="offset-sm-1 col-sm-10">
    <ul class="nav nav-tabs nav-justified mb-3">
      <li class="nav-item"><a href="#" class="nav-link">ツイート</a></li>
      <li class="nav-item"><a href="#" class="nav-link">フォロー</a></li>
      <li class="nav-item"><a href="#" class="nav-link">フォロワー</a></li>
      <li class="nav-item"><a href="#" class="nav-link">お気に入り</a></li>
    </ul>
  </div>
</div>