<% if logged_in? %>
  <p>ログイン完了ユーザ: <%= current_user.name %></p>
<% else %>  
  <div class="jumbotron">
    <div class="text-center">
      <h1>「好き」を共有しよう</h1>
      <%= link_to "会員登録", signup_path, class: "btn btn-success" %>
      <%= link_to "ログイン", login_path, class: "btn btn-info" %>
    </div>
  </div>
<% end %>  